body {
    background: rgb(3,74,112);
    background: -moz-linear-gradient(180deg, rgb(3, 66, 100) 0%, rgb(66, 11, 66) 78%);
    background: -webkit-linear-gradient(180deg, rgb(3, 66, 100) 0%,rgb(66, 11, 66) 78%);
    background: linear-gradient(180deg, rgb(3, 66, 100) 0%, rgb(66, 11, 66) 78%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#034a70",endColorstr="#4b0a4b",GradientType=1);
}

#header_pc li::before {
    box-shadow: 0 8px 32px 0 rgba(59, 59, 59, 0.37);
}

#header_phone #menu_btn {
    box-shadow: 0 8px 32px 0 rgba(59, 59, 59, 0.37);
}

#header_phone ul li::before {
    box-shadow: 0 8px 32px 0 rgba(59, 59, 59, 0.37);
}

#main_section div blockquote {
    box-shadow: 0 8px 32px 0 rgba(59, 59, 59, 0.37);
}

.card_content::after {
    box-shadow: 0 8px 32px 0 rgba(59, 59, 59, 0.37);
}

.card_content::before {
    box-shadow: 0 8px 32px 0 rgba(59, 59, 59, 0.37);
}

.country {
    box-shadow: 0 8px 32px 0 rgba(59, 59, 59, 0.37);
}

#header_pc {
    width: 95%;
    background: rgba(136, 136, 136, 0.3);
    box-shadow: 0 8px 32px 0 rgba(58, 58, 58, 0.41);
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px;
    color: white;
}

footer {
    width: 95%;
    height: 200px;
    background: rgba(136, 136, 136, 0.3);
    box-shadow: 0 8px 32px 0 rgba(58, 58, 58, 0.41);
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

main {
    width: 95%;
    background: rgba(136, 136, 136, 0.3);
    box-shadow: 0 8px 32px 0 rgba(58, 58, 58, 0.41);
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    color: white;
}

@media screen and (max-width: 1000px) {
    #header_pc {
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    #header_phone {
        display: none;
    }
}

@media screen and (max-width: 1000px)  {
    #main_section {
        flex-direction: column;
    }

    #main_section img {
        display: none;
    }

    #main_section div blockquote {
        width: 70%;
        font-size: 18pt;
    }

    #main_section div h1 {
        font-size: 40pt;
    }

    main {
        width: 100%;
    }

    footer {
        width: 100%;
    }
}