footer, main, header {
    position: static;
    margin: auto;
    margin-top: 20px;
}

/* Настройка текста на странице */

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
}

p,  dl,dt,  li, legend, blockquote,  q, label p{
    font-family: 'Source Sans Pro', sans-serif;
}

blockquote,  q {
    font-family: 'Source Sans Pro', italic;
}

a{
    font-family: 'Roboto', sans-serif;
}

/* Настройка меню для пк */

#header_pc img {
    margin-right: 20px;
}

#header_pc {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 20px;
}

footer {
    border-radius: 20px;
    width: 95%;
}

#header_pc ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    padding: 0;
    margin: 0;
}

#header_phone a,
#header_pc a {
    text-decoration: none;
}

#header_pc li {
    position: relative;
    list-style-type: none;
    font-size: 20pt;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    transition: 0.3s ease;
    cursor: pointer;
}

#header_pc li::before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;

    background: rgba( 255, 255, 255, 0.1 );
    backdrop-filter: blur( 0.01px );
    -webkit-backdrop-filter: blur( 0.01px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    transform: scale(0);
    transition: 0.3s ease;
}

#header_pc li:hover::before {
    transform: scale(100%);
}

#header_pc li:hover {
    transform: scale(110%);
}

#header_pc li:active{
    transform: scale(110%);
}

/* Настройка меню для телефонов */

#header_phone ul{
    display: flex;
    position: fixed;
    top: -100%;
    left: 0;
    flex-direction: column;
    width: 100%;
    z-index: 3;
    margin: 0;
    padding: 0;
    gap: 20px;
    overflow: hidden;
    transition: 0.5s ease;

    background: rgba( 255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#header_phone #menu_check:checked ~ ul {
    top: 0;
}

#header_phone #menu_check {
    display: none;
}

#header_phone #menu_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;

    background: rgba( 255, 255, 255, 0.15 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 2px solid rgba( 255, 255, 255, 0.18 );

    position: fixed;
    top:5%;
    left: 5%;
    z-index: 4;
    cursor: pointer;
    transition: 0.3s ease;
}

#header_phone #menu_check:checked ~ #menu_btn {
    background: rgba( 255, 0, 0, 0.5 );
}

#header_phone #menu_check:checked ~ #menu_btn span:before,
#header_phone #menu_check:checked ~ #menu_btn span:after {
    top: 0;
}

#header_phone #menu_check:checked ~ #menu_btn span {
    transform: rotate(45deg);
}

#header_phone #menu_check:checked ~ #menu_btn span:after{
    transform: rotate(-90deg);
}

#header_phone #menu_btn span {
    position: fixed;
    width: 70px;
    height: 8px;
    background-color: black;
    border-radius: 20px;

    transition: 0.3s ease;
}

#header_phone #menu_btn span::before {
    content: "";
    display: block;
    position: absolute;
    top:-22px;
    width: 70px;
    height: 8px;
    background-color: black;
    border-radius: 20px;
    transition: 0.3s ease;
}

#header_phone #menu_btn span::after {
    content: "";
    display: block;
    position: absolute;
    top:22px;
    width: 70px;
    height: 8px;
    background-color: black;
    border-radius: 20px;
    transition: 0.3s ease;
}

#header_phone ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 15px;
    font-size: 40pt;
    transition: 0.3s ease;
    cursor: pointer;
}

#header_phone ul li::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.3s ease;

    background: rgba( 255, 255, 255, 0.1 );
    backdrop-filter: blur( 0.01px );
    -webkit-backdrop-filter: blur( 0.01px );
    border-radius: 10px;
    border: 2px solid rgba( 255, 255, 255, 0.18 );
    transform: scale(0);
}

#header_phone ul li:hover::before {
    transform: scale(100%);
}

#header_phone ul li:hover{
    transform: scale(110%);
}

#header_phone ul li:active{
    transform: scale(110%);
}

/* Настройка адаптивности меню */

@media screen and (max-width: 1000px) {
    #header_pc {
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    #header_phone {
        display: none;
    }
}

/*настройка кнопки для изменения темы сайта*/

.dark_theme {
    margin-left: 2%;
}

#theme_check, #theme_check1 {
    display: none;
}

.theme_btn > div {
    position: relative;
    width: 200px;
    height: 64px;
    background-color: white;
    border: 2px solid rgba( 255, 255, 255, 0.18 );
    transition: 0.5s ease;
    padding: 5px;
    border-radius: 50px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.46) inset;
    -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.46) inset;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.46) inset;
}

.theme_btn .sun,
.theme_btn .moon {
    position: absolute;
    top: 5px;
    z-index: 0;
    left: 5px;
    width: 64px;
    height: 64px;
}

.theme_btn .sun {
    left: calc(100% - 72px);
}

.theme_btn .round {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 4px;
    left: 5px;
    width: 64px;
    height: 64px;
    background-color: white;
    z-index: 0;
    border-radius: 50px;
    transition: 0.5s ease;

    -webkit-box-shadow: 0px 3px 5px 4px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 0px 3px 5px 4px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 3px 5px 4px rgba(0, 0, 0, 0.42);
}

.theme_btn .round_in {
    width: 26px;
    height: 26px;
    border-style: solid;
    transition: 0.5s ease;
    border-radius: 20px;
    border-color: rgba(147, 147, 147, 0.75);
}

#theme_check:checked ~ .theme_btn .round,
#theme_check1:checked ~ .theme_btn .round{
    left: calc(100% - 72px);
    background-color: #c4c4c4;
    -webkit-box-shadow: -2px 0px 5px 4px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: -2px 0px 5px 4px rgba(0, 0, 0, 0.42);
    box-shadow: -2px 0px 5px 4px rgba(0, 0, 0, 0.42);
}

#theme_check:checked ~ .theme_btn .round_in,
#theme_check1:checked ~ .theme_btn .round_in{
    width: 0px;
    border-color: rgba(147, 147, 147, 0.92);
}

#theme_check:checked ~ .theme_btn div,
#theme_check1:checked ~ .theme_btn div{
    background-color: rgba(89, 89, 89, 0.87);
    border: 2px solid rgba(134, 134, 134, 0.71);
}

main .dark_theme {
    margin-top: 10px;
    margin-left: calc(95% - 200px);
}

/* Настройка отображения переключателя на телефоне */

@media screen and (min-width: 1000px){
    main .dark_theme {
        display: none;
    }

    .theme_btn > div {
        width: 100px;
        height: 32px;
    }

    .theme_btn .sun,
    .theme_btn .moon {
        width: 32px;
        height: 32px;
    }

    .theme_btn .sun {
        left: calc(100% - 37px);
    }

    .theme_btn .round {
        width: 32px;
        height: 32px;
    }

    .theme_btn .round_in {
        width: 13px;
        height: 13px;
    }

    #theme_check:checked ~ .theme_btn .round,
    #theme_check1:checked ~ .theme_btn .round {
        left: calc(100% - 37px);
    }

}

/* Настройка ссылок футера */

#links {
    display: flex;
    justify-content: center;
    gap: 2%;
    margin-top: 1%;
    margin-bottom: 0;
}

#links li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    overflow: hidden;
    transition: 0.3s ease;
    position: relative;
    cursor: pointer;

    background: rgba( 255, 255, 255, 0.05 );
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 70px;
    border: 2px solid rgba( 255, 255, 255, 0.18 );
}

#links li::before {
    content: "";
    position: absolute;
    top:-110%;
    transition: 0.3s ease;
    z-index: 2;
    left: 0;
    width: 100%;
    height: 105%;
}

#links a:nth-child(3) li::before {
    background: rgb(250,208,117);
    background: -moz-linear-gradient(45deg, rgba(250,208,117,1) 0%, rgba(251,15,102,1) 52%, rgba(63,58,236,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(250,208,117,1) 0%, rgba(251,15,102,1) 52%, rgba(63,58,236,1) 100%);
    background: linear-gradient(45deg, rgba(250,208,117,1) 0%, rgba(251,15,102,1) 52%, rgba(63,58,236,1) 100%);
}

#links a:nth-child(4) li::before {
    background: rgb(79,194,255);
    background: -moz-linear-gradient(45deg, rgba(79,194,255,1) 0%, rgba(0,167,255,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(79,194,255,1) 0%, rgba(0,167,255,1) 100%);
    background: linear-gradient(45deg, rgba(79,194,255,1) 0%, rgba(0,167,255,1) 100%);
}

#links a:nth-child(2) li::before {
    background: rgb(158,87,242);
    background: -moz-linear-gradient(45deg, rgba(158,87,242,1) 0%, rgba(98,2,251,1) 59%);
    background: -webkit-linear-gradient(45deg, rgba(158,87,242,1) 0%, rgba(98,2,251,1) 59%);
    background: linear-gradient(45deg, rgba(158,87,242,1) 0%, rgba(98,2,251,1) 59%);
}

#links a:nth-child(1) li::before {
    background: rgb(71,151,255);
    background: -moz-linear-gradient(45deg, rgba(71,151,255,1) 0%, rgba(0,109,255,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(71,151,255,1) 0%, rgba(0,109,255,1) 100%);
    background: linear-gradient(45deg, rgba(71,151,255,1) 0%, rgba(0,109,255,1) 100%);
}

#links a:nth-child(5) li::before {
    background: rgb(114,14,232);
    background: -moz-linear-gradient(45deg, rgba(114,14,232,1) 0%, rgba(42,0,122,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(114,14,232,1) 0%, rgba(42,0,122,1) 100%);
    background: linear-gradient(45deg, rgba(114,14,232,1) 0%, rgba(42,0,122,1) 100%);
}

#links a:hover li::before {
    transform: translateY(100%);
}

#links li img {
    transition: 0.3s ease;
    z-index: 2;
}

#links a:hover li img {
    transform: scale(115%);
}

.back_blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    background: rgba( 255, 255, 255, 0.0 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 5px );
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
}

@media screen and (max-width: 1000px) {
    #links li {
        width: 120px;
        height: 120px;
    }

    #links img {
        width: 60px;
        height: 60px;
    }
}

/* Настройка отображения формы */

#form {
    position: fixed;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    width: 400px;
    height: 400px;
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba(59, 59, 59, 0.37);
    backdrop-filter: blur( 11px );
    -webkit-backdrop-filter: blur( 11px );
    border-radius: 10px;
    border: 2px solid rgba( 255, 255, 255, 0.18 );
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    transition: 0.5s ease;
    gap: 10px;
}

@keyframes moving_block_form {
    from {
        transform: translateY(-30px);
    }

    to {
        transform: translateY(30px);
    }
}

#cube1 {
    width: 100px;
    height: 100px;
    top: 50%;
    left: calc(50% - 290px);
    z-index: 6;
}

#cube2 {
    width: 70px;
    height: 70px;
    top: calc(50% + 40px);
    left: calc(50% + 198px);
    z-index: 3;
}

#cube3 {
    width: 90px;
    height: 90px;
    top: calc(50% - 220px);
    left: calc(50% + 220px);
    z-index: 3;
}

#cube4 {
    width: 50px;
    height: 50px;
    top: calc(50% - 360px);
    left: calc(50%  - 60px);
    z-index: 3;
}

#cube5 {
    width: 40px;
    height: 40px;
    top: calc(50% + 350px);
    left: calc(50%  + 60px);
    z-index: 3;
}

.cube {
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease;
    animation-name: moving_block_form;
    animation-play-state: paused;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-delay:  calc(-1s * var(--i));

    background: rgba( 255, 255, 255, 0.5 );
    box-shadow: 0 8px 32px 0 rgba(59, 59, 59, 0.37);
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border-radius: 10px;
    border: 2px solid rgba( 255, 255, 255, 0.18 );
    position: fixed;
}

#open_check:checked ~ .cube {
    animation-play-state: running;
}

#form input[type="text"],
#form input[type="email"] {
    width: 300px;
    height: 30px;
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba(59, 59, 59, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 40px;
    border: 2px solid rgba( 255, 255, 255, 0.18 );
    padding: 5px;
    transition: 0.5s ease;
}

#form textarea {
    background: rgba( 255, 255, 255, 0.2 );
    width: 300px;
    height: 130px;
    box-shadow: 0 8px 32px 0 rgba(59, 59, 59, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 20px;
    border: 2px solid rgba( 255, 255, 255, 0.18 );
    padding: 5px;
    transition: 0.1s ease;
}

#btn {
    width: 300px;
    height: 30px;
    background: rgba( 255, 255, 255, 0.8 );
    box-shadow: 0 8px 32px 0 rgba(59, 59, 59, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 40px;
    border: 2px solid rgba( 255, 255, 255, 0.18 );
    padding: 5px;
    transition: 0.5s ease;
    cursor: pointer;
}

#form input[type="email"]:focus,
#form input[type="text"]:focus {
    background: rgba( 255, 255, 255, 0.5 );
    box-shadow: 0 8px 32px 0 rgba(59, 59, 59, 0.37);
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 40px;
    border: 2px solid rgba( 255, 255, 255, 0.18 );
    transition: 0.5s ease;
}

#form input[type="email"]:hover,
#form input[type="text"]:hover
{
    background: rgba( 255, 255, 255, 0.5 );
    box-shadow: 0 8px 32px 0 rgba(59, 59, 59, 0.37);
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 40px;
    border: 2px solid rgba( 255, 255, 255, 0.18 );
    transition: 0.5s ease;
}

#open_check {
    visibility: hidden;
}

#open_btn1 p{
    margin: auto;
    margin-bottom: 1%;
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13pt;
    position: relative;
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba(59, 59, 59, 0.37);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 40px;
    transition: 0.3s;
    cursor: pointer;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

@media screen and (max-width: 1000px) {
    #open_btn1 p {
        width: 400px;
        height: 60px;
        font-size: 26pt;
    }
}

#open_btn1 p:hover {
    background: rgba( 255, 255, 255, 0.5 );
    transform: scale(102%);
}

#open_check:checked ~ .back_blur {
    visibility: visible;
    opacity: 1;
    z-index: 2;
}

#open_check:checked ~ #form {
    visibility: visible;
    opacity: 1;
}

#close_btn {
    position: fixed;
    top: 20px;
    left: 2%;
    width: 50px;
    height: 50px;
    background: rgba( 255, 0, 0, 0.55 );
    box-shadow: 0 8px 32px 0 rgba(59, 59, 59, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    z-index: 5;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    visibility: hidden;
    transform: scale(0%);
    opacity: 0;
}

#close_btn span,
#close_btn span::before {
    width: 35px;
    height: 5px;
    background-color: black;
    border-radius: 10px;
    transform: rotate(45deg);
}

#close_btn span::before {
    display: block;
    position: absolute;
    content: "";
    transform: rotate(-90deg);
}

@media screen and (max-width: 1000px) {
    #close_btn {
        top: 5%;
        background: rgba( 255, 0, 0, 0.7 );
        left: 4%;
        width: 100px;
        height: 100px;
    }

    #close_btn span,
    #close_btn span::before {
        width: 70px;
        height: 10px;
    }

    #form {
        width: 70%;
        left: calc(50% - 35%);
        height: 600px;
        top: calc(50% - 300px);
    }

    #form input[type="text"],
    #form input[type="email"] {
        width: 75%;
        height: 50px;
        font-size: 20pt;
        color: black;
    }

    #form textarea {
        width: 75%;
        height: 250px;
    }

    #btn {
        width: 75%;
        height: 40px;
        font-size: 16pt;
        color: black;
    }

    #form h1 {
        font-size: 35pt;
        text-align: center;
    }

    #cube1 {
        left: 6%;
    }

    #cube2 {
        left: 85%;
    }

    #cube3 {
        left: 87%;
    }

    #cube4 {
        top: calc(50% - 400px);
    }
}

#open_check:checked ~ #close_btn:hover {
    transform: scale(107%);
}

#open_check:checked ~ #close_btn {
    transform: scale(100%);
    visibility: visible;
    opacity: 1;
}

#open_check:checked ~ .cube {
    visibility: visible;
    opacity: 1;
}

#open_check:checked ~ #form > .cube {
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 1000px)  {
    main {
        width: 100%;
        border-radius: 30px;
    }

    footer {
        width: 100%;
        border-radius: 30px;
    }
}