main {
    width: 95%;
    border-radius: 20px;
}

main p, main ol {
    font-size: 14pt;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 30pt;
    text-align: center;
    padding: 0;
    margin-top: 5%;
}

h2 {
    font-size: 25pt;
    padding: 0;
    margin-top: 5%;
}

h3 {
    font-size: 22pt;
    padding: 0;
    margin-top: 1%;
}

h2::after {
    content: "";
    display: block;
    width: 50%;
    height: 5px;
    background-color: black;
    border-radius: 20px;
    margin: auto;
    padding: 0;
}

#main_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: auto;
}

#main_section section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#photo {
    float: left;
    border-radius: 10px;
    margin-right: 10px;
    -webkit-box-shadow: 5px 4px 16px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 4px 16px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 4px 16px 0px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1000px) {
    main {
        width: 100%;
    }

    #main_section {
        width: 85%;
    }

    p, ol {
        font-size: 20pt;
    }

    h1 {
        font-size: 50pt;
    }

    h2 {
        font-size: 47pt;
    }

    h3 {
        font-size: 44pt;
    }

    #photo {
        width: 300px;
        height: 400px;
        margin-right: 30px;
    }
}